<!-- Navigation Tabs -->
<div class=" nav-color ">
    <ul class="nav nav-tabs ">
        <li class="mx-3 nav-item">
            <a class="nav-link " [routerLink]="['/track-expense']">Track Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="['/add-expense']">Add Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/category-expense']">Category Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/view-profile']">View Profile</a>
        </li>
    </ul>
</div>
<body class="d-flex bg-color justify-content-center">
    <div class="justify-content-center heightss py-5 mb-6">
        <form [formGroup]="addExpenseDetails" class="form-group bg-white  form-width mb-3">

            <div class="col-12 mb-5">
                <h2>Add Expense</h2>
            </div>

            <label>Expense Date : </label>
            <div class="input-group mb-3 box-border">
                <input type="date" class="form-control place-color" formControlName="Date" id="floatingInputDate"
                    placeholder="Date" (change)="onChange($event)">
            </div>

            <div><label> Expense Amount:</label></div>
            <div class="input-group mb-2">
                <span class="input-group-text">Rs.</span>
                <input type="number" class="form-control" formControlName="Amount"
                    aria-label="Indian Rupee amount (with dot and two decimal places)">
            </div>
            <div class="mb-3" *ngIf="addExpenseDetails.get('Amount')?.invalid && expenseSubmitted">Enter a valid Expense
                Amount</div>


            <div><label> Expense Description:</label></div>
            <div class="input-group mb-3">
                <input type=text class="form-control" formControlName="Description">
            </div>

            <div>
                <label>Select Expense Category Type:</label>
            </div>
            <div class="input-group mb-2">
                <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon"
                    formControlName="Category">
                    <option *ngFor="let item of categoryList">{{item.name}}</option>
                </select>
                <button class="btn btn-secondary" type="button" (click)="addCategoryFlag = true">Add New Category</button>
            </div>
            <div class="mb-4" *ngIf="addExpenseDetails.get('Category')?.invalid && expenseSubmitted">Select a Category
                of expense </div>
        </form>
        <div *ngIf="addCategoryFlag">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Enter Category" [(ngModel)]="categoryName">
                <div class="input-group-append">
                    <button class="btn btn-secondary" (click)="addCategory()">add</button>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary" (click)="addExpense()">Add Expense</button>
        </div>
    </div>
</body>