.box-border
{
   border-style: solid;
    border-color:rgb(237, 232, 232);
}

.bg-color
{
    background-color: rgb(187, 227, 240);
}

.heightss
{
    height: 100vh;
}

.nav-color
{
    background-color: rgb(197, 217, 223);
}

.form-width
{
    min-width: 400px;
    padding: 10px;
    border-radius: 10px;
}