<body class="bg-color">
  <div class="container ">
    <div class="row  heightss">
      <div class="col-12">
        <h1>Expense Tracker</h1>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <form class="form-group" [formGroup]="loginForm">
          <h2 class="text-center">Log In</h2>
          <p class="text-center">
            Welcome back!Login with your Phone Number & Password
          </p>
          <div class="form-floating mb-3">
            <input type="text" class="form-control place-color" formControlName="phoneNumber" id="floatingInput" placeholder="90******78">
            <label for="floatingInput">
              <i class="fa-solid fa-phone"></i>
              Phone Number
            </label>
          </div>
          <div class="form-floating mb-3">
            <input type="password" class="form-control place-color" formControlName="password" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">
              <i class="flex-nowrap fa-solid fa-lock"> </i>
              Password
            </label>
          </div>
          <div class="d-flex justify-content-between mb-3">
          </div>
          <button type="submit" class="btn btn-primary form-control submit-color mb-3" (click)="Login()">Login</button>
          <p class="text-center ">Don't have an account? <a class="text-secondary"  routerLink="sign-up"  routerLinkActive="active">Sign Up</a></p>
        </form>
      </div>
    </div>
  </div>
</body>  
