
.place-color
{
    background-color:rgb(241, 238, 238);
}

.bg-color
{
    height: 100vh;
    background-color:aliceblue;
}

// .bg-image
// {
//     background-image: url("https://media.licdn.com/dms/image/D5612AQGplp7JKG6Iiw/article-cover_image-shrink_720_1280/0/1673950361361?e=2147483647&v=beta&t=NxzErCoXqQ-xwkHJZZkKGKYNA21hJh3oNMUJzNKQr9M");
//     background-repeat: no-repeat;
// }

.font-style
{
    padding-bottom: 100%;
    margin: 100px;
    text-align: center;
}

.heightss
{
    height: 100vh;
}

