<!-- Navigation Tabs -->
<div class=" nav-color ">
    <ul class="nav nav-tabs ">
        <li class="mx-3 nav-item">
            <a class="nav-link active" [routerLink]="['/track-expense']">Track Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/add-expense']">Add Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/category-expense']">Category Expense</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/view-profile']">View Profile</a>
        </li>
    </ul>
</div>
<body class="mainbg ">
    <div class="flex-container">
        <div class="row px-5 py-3 headerbg">
            <h3>Category breakdown</h3>
        </div>
    </div>
    <div class="card flex-fill w-100 draggable">
        <!-- <div class="card-header">
            <h5 class="card-title mb-0">Expense Categories</h5>
        </div> -->
        <div class="card-body d-flex">
            <div class="align-self-center w-100">
                <div class="py-3">
                    <div class="chart chart-xs">
                        <canvas id="chartjs-expense-pie" width="200" height="200"></canvas>
                    </div>
                </div>
                <table class="table mb-0 px-5">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th class="text-end">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let category of categoryList">
                            <td>{{ category.name }}</td>
                            <td class="text-end">{{ category.expenditure }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>