.headerbg{
    background-color: rgb(242, 122, 166);
}

.mainbg{
    background-color: rgba(191, 176, 230, 0.542);
    //height: 100vh;
    min-height: 100vh;
}

.catbg{
    border: 3px solid black;
}

.nav-color
{
    background-color: rgb(209, 185, 232);
}
