<head>
    <!--bootstrap link loader-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</head>



<body class="container justify-content-center bg-color">
    <div>
        <ul class="nav nav-tabs mb-3 ">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="http://localhost:4200/track-expense">Track Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/add-expense">Add Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/category-expense" >Category Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:4200/view-profile">View Profile</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Current Year Expense(in Total)</h5>
                    <p class="card-text">Expense Amount:</p>
                    <a class="btn btn-primary">Rs. 000000</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Current Month Expense(in Total)</h5>
                    <p class="card-text">Expense Amount:</p>
                    <a href="#" class="btn btn-primary">Rs.0000</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Current Week Expense(in Total)</h5>
                    <p class="card-text">Expense Amount:</p>
                    <a href="#" class="btn btn-primary">Rs. 0000</a>
                </div>
            </div>
        </div>
        <div>
            <label>Filter By Date Range:</label>
            <input type="date" placeholder="startDate" (change)="onSelectStart($event)" >
            <input type="date" placeholder="endDate" (change)="onSelectEnd($event)">
            <!-- <select><button class="btn btn-block btn-primary">Filter By</button>
            <option id="dates">Dates</option>
            <option id="month">Months</option>
            <option id="year">Years</option>
        </select> -->
            <ul>
                <li *ngFor="let expense of expenseList">
                    <div class="card">
                        <div class="card-body">
                         <tr>
                           <td> <h5>  {{ expense.description }}</h5></td>
                            <td><p>   Amount:  Rs.{{ expense.amount }}</p></td>
                           <td> <p class="card-text">   Category:  {{ expense.categoryName }}</p></td>
                           <td> <p>   Date:   {{expense.date|date}}</p></td>
                           </tr>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>