<body class="container justify-content-center bg-color">
    <div>
        <ul class="nav nav-tabs mb-3 ">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page"  [routerLink]="['/track-expense']">Track
                    Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/add-expense']" >Add Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/category-expense']">Category Expense</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/view-profile']">View Profile</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div *ngFor="let amount of totalExpenseList">
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Current Year Expense(in Total)</h5>
                            <p class="card-text">Expense Amount:</p>
                            <a class="btn btn-primary">{{amount.yearlyExpense | currency:'INR' }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Current Month Expense(in Total)</h5>
                            <p class="card-text">Expense Amount:</p>
                            <a class="btn btn-primary">{{amount.monthlyExpense | currency:'INR' }}</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Monthly Budget Remaining</h5>
                            <p class="card-text">Amount:</p>
                            <a class="btn btn-primary">{{ amount.remainingBudget | currency:'INR' }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=" mb-3">
            <label>Filter By Date Range:</label>
            <input type="date" placeholder="startDate" (change)="onSelectStart($event)">
            <input type="date" placeholder="endDate" (change)="onSelectEnd($event)">
            <button class="btn btn-primary" (click)="applyFilter()">Apply</button>
            <ul *ngIf="!filter">
                <li *ngFor="let expense of expenseList; index as i">


                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto d-flex ">
                                <div class="fw-bold">
                                    <h5> {{expense.description}}</h5>
                                </div>
                                <div> Amount: {{ expense.amount | currency:'INR' }}</div>
                                <div>Category: {{ expense.categoryName }}</div>
                                <div>Date: {{expense.date|date}}</div>
                            </div>
                            <span class="badge text-bg-primary rounded-pill"><button class="btn btn-primary "
                                    (click)="onDelete(i)">Delete</button></span>
                        </li>
                    </ul>
                </li>
            </ul>
            <ul *ngIf="filter">
                <li *ngFor="let expenseFilter of expenseFilterList ;index as i">
                    <div class="card">
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto d-flex ">
                                    <div class="fw-bold">
                                        <h5> {{expenseFilter.description}}</h5>
                                    </div>
                                    <div> Amount: Rs.{{ expenseFilter.amount }}</div>
                                    <div>Category: {{ expenseFilter.categoryName }}</div>
                                    <div>Date: {{expenseFilter.date|date}}</div>
                                </div>
                                <span class="badge text-bg-primary rounded-pill"><button class="btn btn-primary "
                                        (click)="onFilterDelete(i)">Delete</button></span>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</body>