.bg-color
{
    background-color:rgb(227, 173, 217);
    height: 100vh;
}
.btn-color
{
    background-color: rgb(119, 187, 247);
}

.width-set{
    min-width: 500px;
}

.nav-color
{
    background-color: rgb(229, 205, 226);
}